@media only screen and (max-width: 950px) {
    .site-footer {
        position: relative;
        background-color: #f0f2f4e4;
        padding: 0px 0 20px !important;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }
}