.appsHolder {
  background-color: #e3ecf6 !important;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.appsHeading {
  text-align: center;
  font-size: 3.75em;
  line-height: 1;
  margin-bottom: 4rem;
  font-weight: 700;
  letter-spacing: -0.05em !important;
  padding: 50px;
}

.sites-holder {
  place-content: center !important;
}

.apps-span {
  color: #fbb03b;
}

.sites {
  display: flex;
  gap: 50px;
  place-content: center !important;
}

.top-element:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0);
  transition: 0.75rem;
}

.top-element {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  display: flex;
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
}

.site-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: black;
  font-weight: 700;
  margin-bottom: 0.125rem;
}

.site-title:hover {
  color: #f2b44d;
}
.site-logo {
  width: 100px;
  align-self: center;
  height: 100px;
  border-radius: 0px;
}
.site-text-holder {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}
.site-desc {
  font-size: 1.24rem;
  font-weight: 400;
  color:black !important;
  line-height: 1.75rem;
}
.chip{
  background-color: rgb(127 255 127 / 56%) !important;
}
.chip-layout {
  display: flex;
  gap: 12px;
}
.sites-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  padding: 1%;
  gap: 20px;
  list-style-type: none;
  margin: .5rem !important;
  height: -webkit-max-content;
  height: max-content;
}
/* mobile view */
@media only screen and (max-width: 950px) {
  .sites-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    padding: 1%;
    gap: 10px;
    list-style-type: none;
    margin: 1rem;
    height: -webkit-max-content;
    height: max-content;
  }
  .site-title:hover {
    color: #f2b44d;
  }
  .site-desc {
    font-size: 1.1rem !important;
    font-weight: 400;
    color: black !important;
    line-height: 1.5rem;
    margin-bottom: 8%;

}

  .appsHolder {
    background-color: #e3ecf6 !important;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .site-logo {
    /* width: 100%; */
    align-self: center;
    margin-left: 20px !important;
    height: 20%;
    border-radius: 0px;
  }

  .appsHeading {
    text-align: center !important;
    font-size: 3em !important;
    line-height: 1;
    padding: 10% !important;
    margin-bottom: 0rem !important;
    font-weight: 700;
    letter-spacing: -0.05em !important;
    padding: 8px;
}

  .top-element {
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    display: block !important;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    flex-direction: row;
  }
}

.link-list {
  color: black;
  text-decoration: none !important;
}

a{
  color: black;
  text-decoration: none !important;
}

p{
  color: black !important;
}