.homepage{
    /* margin-top: 50px; */
    display: flex;
    place-content: center;
    height: 100vh;
    align-items: center;
    position: relative;

    min-height: 500px;
}

.main-content{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#userImage{
    border-radius: 50% !important;
    align-self: center;
    margin-bottom: 10px;
    width: 60%;
}

.userName{
    letter-spacing: -.05em;
    font-size: 2.5rem;
    text-align: center;
    background: -webkit-radial-gradient(#030303, #010001);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
}

.userRole{
    max-width: 48rem;
    font-size: 20px;
    font-weight: 100;
    margin-left: auto;
    letter-spacing: -.025em;
    color: rgb(17 24 39 / var(50%));
    text-align: center;
    margin-right: auto;
}

.site-holder{
    padding-left: 1.5rem;
    flex-wrap: nowrap;
    padding-right: 1.5rem;
    gap: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#btn-projects{
    color: rgb(255 255 255 / var(10%));
    padding-top: 0.75rem;
    background-color: #fbb03b;
    padding-bottom: 0.75rem;
    opacity: 1;
    line-height: 1.375;
    color: black;
    font-weight: 500;
    border-radius: 2.5rem;
    border-color: #fbb03b45;
    padding-left: 2rem;
    padding-right: 2rem;
}

#btn-projects:hover{
    background-color: #efa123;

}


.project-ic{
    height:1rem;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px !important;
}

#btn-code{
background-color:  rgb(17 24 39);
color: rgb(255 255 255 / var(10%));
    opacity: 1;
    line-height: 1.375;
    color: #fff;
    font-weight: 500;
    border-radius: 2.5rem;
    border-color: rgba(251, 176, 59, .27058823529411763);
    padding: .5rem .5rem;
}

#btn-code:hover{
    background-color: rgb(71, 74, 81);

}

@media only screen and (max-width: 950px) {
    .homepage {
        display: flex;
        place-content: center;
        height: 100%;
        align-items: center;
        position: relative;
    }  
    
    .site-footer {
        position: relative;
        background-color: #f0f2f4e4;
        padding: 0px 0 20px !important;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }
}